@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Indie+Flower&display=swap');

body {
    display: flex;
    flex-direction: column;
    font-family: 'Fjalla One', sans-serif;
    font-family: 'Indie Flower', cursive;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 2;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    color: palevioletred;
    font-family: 'Fjalla One', sans-serif;
    font-family: 'Indie Flower', cursive;
    font-size: 64px;
    font-weight: bolder;
}

.buttonContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 45px;
    
}

.resultsContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
    margin-top: 3%;
}

#imgDiv {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 64px;
}

#computerChoice {
    display: flex;
    justify-content: center;
    margin: 8px;
    font-weight: bold;
    font-size: 40px;
}

button {
    height: 200px;
    width: 200px;
    font-size: 32px;
    font-weight: bold;
    border-radius: 48px;
    font-family: 'Fjalla One', sans-serif;
    font-family: 'Indie Flower', cursive;
    margin: 0px;
    background-color: rgb(196, 225, 226);
}

button:hover {
    background-color: rgb(245, 182, 198);
}

#userScore {
    border: 4px solid rgb(196, 225, 226);
    padding: 8px;
    font-weight: bold;
    font-size: 24px;
    border-radius: 32px;
}

#cpuScore {
    border: 4px solid rgb(223, 0, 74);
    padding: 8px;
    font-weight: bold;
    font-size: 24px;
    border-radius: 32px;
}

#info {
    margin-top: 16px;
    font-weight: bolder;
    font-size: 24px;
}

#winLoseInfo {
    font-weight: bolder;
    font-size: 125%;
    text-align: center;
    margin: 8px;
}

#playAgainContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 8px solid black;
    height: 292px;
    width: 445px;
    background-color: rgb(196, 225, 226);
    z-index: 0;
    margin-top: 154px;
    margin-bottom: -506px;
    display:none;
}

button#btnPlayAgain {
    height: 75px;
}

.infoDisplay {
    font-size: 64px;
    font-weight: bolder;
}